.user_list_button_add {
    margin-top: 15px;
    font-size: 30px;
}

.popups_inner {
    display: none;
}

.popups_inner.active {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
}

.popup {
    width: 300px;
    height: 370px;
    background: #4C68CC;
    position: relative;
    display: flex;
    align-items: center;
    border-radius: 5px;
}

.popups_form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: auto auto;
}

.popups_form input{
    border: 3px solid #4C68CC;
    height: 37px;
}

.popups_form_button {
    height: 50px;
    width: 250px;
    border-radius: 5px;
    color: #4C68CC;
    font-size: 25px;
    border: none;
}

.popups_form_close_icon{
    position: absolute;
    top: 0;
    right: 3px;
    padding: 3px;
    font-size: 25px;
    color: white;
}

.popup_form_close {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

label.error {
    color: red;
}

.update_form {
    width: 500px;
    padding: 0 30px;
    margin: 0 auto;
    border: 1px solid black;
}

