.container {
    max-width: 60%;
}

.user_list_add_wrapper{
    display: flex;

}

.user_list_button_add {
    font-size: 22px;
    max-width: 150px;
    height: 50px;
    margin: 15px 0;
}

td.user_list_td_action{
    min-width: 173px;
}

.table_notes_td_phone {
    font-size: 1em;
}

td.table_notes_td_phone {
    min-width: 160px;
}

.notebook_form_header{
    display: flex;
    justify-content: flex-end;
    margin: 15px 0 0 0;
}

.notebook_form_close svg{
    width: 30px;
}

.table_notes_delete_icon{
    width: 30px;
    height: 100% ;
}

.notebook_form {
    width: 20%;
    height: 100%;
    padding: 0 30px;
    position: fixed;
    right: -100%;
    top: 0;
    transition: all 0.3s ease 0s;
    z-index: 3;
    background: white;
    border: 1px solid #E0E0E0FF;

}

.notebook_form.active {
    right: 0;
    transition: all 0.3s ease 0s;
}

.form-control{
    border: none;
    border-bottom: 1px solid #E0E0E0FF;
}

.notebook_form select {
    border: none;
    margin: 30px 0;
    border-bottom: 1px solid #E0E0E0FF;
}

.form-label {
    color: #4F4F4FFF;
}

.popup {
    width: 300px;
    height: 370px;
    background: #4C68CC;
    position: relative;
    display: flex;
    align-items: center;
    border-radius: 5px;
}

.popups_form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: auto auto;
}

.popups_form input{
    border: 3px solid #4C68CC;
    height: 37px;
}

.popups_form_button {
    height: 50px;
    width: 250px;
    border-radius: 5px;
    color: #4C68CC;
    font-size: 25px;
    border: none;
}

.popups_form_close_icon{
    position: absolute;
    top: 0;
    right: 3px;
    padding: 3px;
    font-size: 25px;
    color: white;
}

.popup_form_close {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

label.error {
    color: red;
}


.badge {
    color: black;
    font-size: 12px;
}